[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
flake8-bugbear = "*"
black = "*"
build = "*"
isort = "*"
autoflake = "*"
pre-commit = "*"
pre-commit-hooks = "*"
{%- set year | int %}{% now 'local', '%Y' %}{% endset %}{% set maxpython = year - 2012 %}
{%- set minpython = cookiecutter.requires_python.split('.')[1] | int %}
mkdocs-material = {% if minpython < 8 %}{version = "*", markers = "python_version >= '3.8'"}{% else %}"*"{% endif %}
{{ cookiecutter.repo_name }} = {editable = true, path = "."}

[packages]
{% if minpython < maxpython %}
[requires]
python_version = "{{ cookiecutter.requires_python }}"
{% endif %}
[scripts]
setup = "pipenv sync --dev"
test = "pytest"
lint = "pre-commit run -a"
docs = "mkdocs serve"
build = "python -m build"
update = "bash -c 'pipenv update --dev && pre-commit autoupdate'"
publish = "mkdocs gh-deploy --force"
clean = "git clean -fX ."
